#coordinate_input {
    display: flex;
    flex-direction: column;
    width: 300px;
    background: #345B79;
    background: linear-gradient(240deg, rgba(52, 91, 121, 0.8), rgba(163, 166, 178, 0.8));
    box-shadow: 0px 10px 50px -6px rgba(0, 0, 0, 0.3);
    border-radius: 40px;
    position: relative;
    margin-left: 40px;
}

#coordinate_plane_wrapper {
    position: relative;
    width: 220px;
    height: 220px;
    align-self: flex-start;
    aspect-ratio: 1;
    margin-top: 50px;
    margin-left: 40px;
    background: linear-gradient(45deg, rgb(149, 155, 170) 0%, rgba(52, 91, 121, 1) 100%);
    box-shadow: 0px 10px 50px -6px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

.axis_label {
    font-weight: 600;
    font-size: 18px;
    position: absolute;
    color: #c4c4c4;
    mix-blend-mode: soft-light;
    user-select: none;
    -webkit-user-select: none;
}

#x_axis_label {
    /* transform: rotate(90deg); */
    transform-origin: center;
    transform: translateX(calc(50% + 20px)) rotate(90deg);
    right: 0;
    top: calc(50% - 10px);
}

#y_axis_label {
    left: 50%;
    transform: translate(-50%, calc(-100% - 10px));
}
#coordinate_plane, #tracking_area {
    height: 80%;
    width: 80%;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}

#coordinate_plane {
    background-size: cover;
    mix-blend-mode: soft-light;
}

.dot_mark {
    position:absolute;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    background: #c0c0c0;
}

#pointer {
    position: absolute;
    transform-origin: center;
    border-radius: 50%;
    background-color: aliceblue;
    z-index: 100;
    cursor: pointer;
    mix-blend-mode: normal;
}

#axis_img {
    position: absolute;
    height: 80%;
    width: 80%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    mix-blend-mode: soft-light;
    opacity: .5;
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}

#select_area {
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    color: white;
}

.axis_text {
    mix-blend-mode: soft-light;
    margin: 24px 0 12px 0;
}

.factor_select_flex_container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.factor_select_flex_container .value_label {
  font-size: 20px;
  margin: 0;
  mix-blend-mode: soft-light;
  min-width: 50px;
  text-align: right;
}