body {
  background-color: #fafafa;
  color: #475967;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#logo {
  font-size: 30px;
  font-weight: 600;
  margin: 30px 40px 40px 40px;
}

#value_area {
  display: flex;
  flex-direction: row;
  width: 300px;
  gap: 30px;
  margin-top: 40px;
  margin-left: 40px;
}

.value_wrapper {
  font-weight: 600;
}

.value {
  font-size: 50px;
  font-variant-numeric: tabular-nums;
}

#chat_pane {
  /* height: 100vh; */
  width: 700px;
  padding-top: 10px;
  background-color: rgb(255, 255, 255);
  margin: auto;
  border-radius: 30px;
  border: 1px solid #eee;
  overflow: hidden;
}

.config_pane {
  display: flex;
  gap: 10px;
  margin: 0 20px;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.config_pane p {
  color: #475967;
  font-size: 14px;
  margin: 0;
  margin-left: 20px;
  font-weight: 600;
  width: 70px;
  text-align: right;
}

#prompt_area, #situation_area {
  height: 50px;
  display: flex;
  flex: 1;
  align-items: center;
}

#prompt_input, #situation_input {
  flex: 1;
  border: none;
  font-size: 14px;
  color: #475967;
  margin-left: 10px;
  margin-right: 20px;
  height: 40px;
  outline: none;
}

p#output {
  margin: 30px 30px;
  font-size: 16px;
  line-height: 1.6em;
}

#button_area {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin: 20px 20px;
}
.btn-simple-solid:active {
  transform: translateY(0);
}

#chat_pane button {
  padding: 10px 24px;
  font-size: 14px;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#chat_pane button:hover {
  transform: scale(1.05);
}

.btn-solid {
  border: none;
  background: #475967;
  color: white;
}

.btn-bordered {
  background-color: transparent;
  border: 1px solid #eeeeee;
  color: #475967;
}

#coordinate_input {
  margin: 20px 20px;
}